/* ========================= layout ======================== */

html, body, .capa {
	height: 100%;
	overflow: auto;
}

body {
	background: url('imagens/capa2.png'),
				url('imagens/ruido.png'),
				linear-gradient(20deg,#1a4a7e ,#fecc0c);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/logo-neppo.png') no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 5px;
	
}

#barra-navegacao{
	font-size: 1.2em;
	font-weight: 800px;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color:#25aae1;
	background: none;
}

/* -- Imagem de capa --------------------------------------------- */
.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Botoes -- */
.btn-custom {
	color: white;
	border-radius: 20px;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
	background: #712fce;
}
.btn-roxo:hover {
	background-color: #6207e3;
	color: white;

}


/* -- cadastro -- */
#cadastro {
	background: white;
	padding-top: 5px;
	padding-bottom: 60px;
}


/* -- crud -- */
#crud {
	padding-top: 5px;
	padding-bottom: 140px;
	background: #fafafa;
}

/* -- relatorio-- */
#relatorio {
	background: white;
	padding-top: 5px;
	padding-bottom: 60px;
}
#barChart{
	width: 200px;
	height: 200px;
	font-size: 1em;
	border-radius: 3px;
  }
  
/* -- rodape -- */
footer {
	background: #000;
	padding: 15px 0px 0px 0px;
	position: relative;
	text-align: center;
}

#rodape p {
	color: #919496;
	font-size: 1em;
}

/* ========================= Tipografia ======================== */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 40px;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 50px; 
  	}
  	.btn-custom {
    	margin: 10px 15px;
	}
	
	
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 50px; 
	  }
	  .divisor{
		display: none;
	}

}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 80px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 70px; 
  	}
}
/* Fim Media queries */


h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.04em;
}


#cadastro h2, #cadastro h3 {
	color: #383232;
	text-align: center;
	padding-bottom: 30px;
}

#crud h3 {
	color: #383232;
	text-align: center;
	padding-bottom: 30px;
}

#relatorio h3 {
	color: #383232;
	text-align: center;
	padding-bottom: 30px;
}
